body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--colorText);
}

#titleName {
  font-size: 100px;
  margin-bottom: 0;
  margin-block-end: 0px;
  justify-content: center;
}

#actualPosition {
  font-size: 30px;
}

#titleExperience {
  font-size: 2.4em;
}

#titleProjectPersonal {
  font-size: 2.4em;
}

#iconAndroid {
  float: left;
  height: 55px;
  width: 55px;
  margin-right: 5px;
  margin-bottom: 8px;
}

.containerPosition {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.containerPosition::after {
  content: "";
  clear: both;
  display: table;
  align-items: center;
}

#containerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#containerButtons::after {
  content: "";
  clear: both;
  display: table;
  align-items: center;
}

.sectionCenter {
  padding: 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionCenterDefault {
  padding: 8rem 0;
  padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----Buttons------ */
/*-----Button Green------ */
.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn22 {
  background-image: linear-gradient(to right,
      #0ba360,
      #3cba92,
      #30dd8a,
      #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

/*-----Button Gray------ */
.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn25 {
  background-image: linear-gradient(to right,
      #29323c,
      #485563,
      #2b5876,
      #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

/*-----Buttons------ */
styleDarkMode {
  background: #000000e0;
  color: white;
}

h3 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

#iconExperience {
  float: left;
  height: 70px;
  width: 70px;
  margin-right: 15px;
  margin-left: 10px;
  margin-bottom: 8px;
  border-radius: 15px;
  margin-top: 8px;
}

.elementCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subTitleExperience {
  display: inline-block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-right: 8px;
}

.subTitleExperienceTime {
  display: inline-block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  color: var(--colorTextSubTitle);
  font-size: 12px;
}

.descriptionExperience {
  margin-block-start: 4px;
  margin-block-end: 0px;
}

#listExperience{
  margin-left: 65px;
}

.iconExperienceProject{
  height: 30px;
  width: 30px;
  border-radius: 14px;
  margin-right: 15px;
}

.containerLeft{
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: 12px;
  margin-left: 90px;
}

#divTitle{
  text-align: center;
}

/*-----Switch DarkMode------ */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 15px;
  margin-top: 15px;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #2bb673;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*-----Switch DarkMode------ */
[data-theme="dark"] {
  --background: #0d0d14;
  --colorText: white;
  --colorTextSubTitle: #d3d3dd; 
  --isDark: hidden;
}

[data-theme="light"] {
  --colorTextSubTitle: gray;
  --isLight: hidden;
}

#sunsIcon{
  visibility: var(--isDark);
}

#moonIcon{
  visibility: var(--isLight);
}

.iconProjects {
  border: 0;
  color: inherit;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  width: 110px;
  border-width: 0;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  border-radius: 20%;
  margin-top: 5px;
}